<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width" charset="UTF-8">
    <title>Control</title>
</head>
<body>
     <div>
        <form method="post" action="/">
            <button type="submit" name="action" value="button1">Button1</button>
            <button type="submit" name="action" value="button2">Button2</button>
            <button type="submit" name="action" value="button3">Button3</button>
            <button type="submit" name="action" value="button4">Button4</button>
        </form>
    </div>
</body>
</html>